<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1" />
<title>AngularJs con SpringBoot</title>
<!--  IMPORTAMOS LAS LIBRERÍAS DE ANGULARJS  -->
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
<!--  IMPORTAMOS LAS LIBRERÍAS DE BOOTSTRAP  -->
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<!-- CREAMOS EL SCRIPT -->
<script>
	var app = angular.module('myApp', []);
	//EL CONTROLADOR OBTIENE LOS DATOS DE UNA URL
	app.controller('bebidasControlador', function($scope, $http) {
		$http.get("http://localhost:8080/bar/listajson").then(
				function(response) {
					$scope.datos = response.data;
				});
	});
</script>
</head>
<body>
	<!-- INDICAMOS EL SCRIPT Y EL CONTROLADOR -->
	<div ng-app="myApp" ng-controller="bebidasControlador">

		<table class="table table-striped">
			<!-- ESTILO BOOTSTRAP -->
			<tr>
				<th>Nombre</th>
				<th>Marca</th>
				<th>Precio</th>
			</tr>
			<tr ng-repeat="x in datos">
				<td>{{ x.nombre}}</td>
				<td>{{ x.marca}}</td>
				<td>{{ x.precio}}</td>
			</tr>
		</table>
		<br /> <a class="btn btn-info" th:href="@{'/adios'}">Volver</a>
		<!-- ESTILO BOOTSTRAP -->
	</div>
</body>
</html>