<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<h3>Lista de Bebidas</h3>
	<table border="2">
		<tr>
			<th>Nombre</th>
			<th>Marca</th>
			<th>Precio</th>
		</tr>
		<tr th:each="bebida : ${lista}">
			<td th:text="${bebida.nombre}"></td>
			<td th:text="${bebida.marca}"></td>
			<td th:text="${bebida.precio}"></td>
		</tr>
	</table>
	<br />
	<a th:href="@{'/adios'}">Volver</a>
</body>
</html>